<div class="input-group mb-4">
  <div class="col-md-6"></div>
  <input type="text" class="form-control col-md-4" aria-label="Text input with dropdown button">
  <select class="custom-select col-md-1" id="inputGroupSelect04">
    <option selected>邮箱</option>
    <option value="1">用户名</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">搜索</button>
  </div>
</div>
