<div class="card">
   <div class="card-header">
     Simple Auth
   </div>
   <div class="card-body text-center">
     <h4 class="card-title">Simple Authentication</h4>
     <p class="card-text">简单的用户验证Gem, 内置Bootstrap和Font Awesome</p>
     <%= link_to "更多信息", "#", class: "btn btn-danger" %>
   </div>
 </div>

