<% @comments.each do |comment| %>
  <div class="media">
    <% if comment.user.avatar.to_s.size == 0 %>
      <%= image_tag "avatar.jpeg", size: "40x40", class: "d-flex mr-3 rounded-circle" %>
    <% else %>
      <%= image_tag comment.user.avatar.middle.url, class: "d-flex mr-3 rounded-circle" %>
    <% end %>
    <div class="media-body">
      <h6 class="mt-0"><%= comment.user.name %></h6>
      <%= comment.content %>
    </div>
  </div>
<% end %>
