<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row justify-content-between row-hl">
      <div class="item-hl text-secondary">所有通知</div>
      <div class="item-h1">
        <button class="btn btn-danger btn-sm" type="button"><small>删除</small></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">Card Title</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
    <a href="#" class="btn btn-danger">Read More</a>
  </div>
</div>

