<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= current_user.avatar %>
</p>
<p><%= image_tag current_user.avatar.thumb.url %></p>

<%= link_to 'Back', root_path %>
